* {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    background-color: #F0F9FF;
}
.main-container{
    /*min-height: calc(100vh - 57.59px - 50px - 54px - 46px);*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
header > h4{
    font-weight: 700;
    color:#0768AC;
    font-size: 1.1rem;
    margin-top: 0.005%;
}
.cards .card{
    border: 0.5px solid #e6e0e0 ;
    border-radius: 5%;
    background-color: white;
    width: 18%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    width: calc(33.333% - 10px);
    

}
.cards{
    display: flex;
    gap: 10px;
    padding: 1.2rem;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    
}

button{
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}
.buttons{
    margin-top: 1%;
}
.welcome{
    color:#03C180;
    font-size: 1.2rem;
    
}
.underwelcome{
    color: #7a7575;
    font-size: 90%;
}
.welcoming-p{
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}
h6{
    color: #7a7575;
    font-weight: 700;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}
h3{
    font-size: 0.8rem;
    
}
.topics-found{
    font-weight: 700;
    margin-left: 1%;
}
.topic{
    font-size: 0.6rem ;
    margin-top: 0.3rem;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #c0baba;
    border-radius: 10px;
    background-color: white;
    margin: 1rem;
}
input {
    border: none;
    width: 100%;
}
.search{
    display: flex;
    margin-left: 1%;
    align-items: center;
    gap: 0.5rem;

}
select{
    border: none;
}
.sort-filter{
    display: flex;
    gap: 1rem;
}
.dropdown{
    border-left:1px solid #c0baba;
    background-color: white;
    padding: 0.7rem;
}
.stars{
    margin-top: 1.5rem;
}
.stars ion-icon {
    color: rgb(238, 147, 28);
}
.info{
    margin-left: 5%;
}
footer{
    text-align: center;
    padding: 1rem;
    background-color: #F0F9FF;
    
}
footer ion-icon{
    color: #DC143C;
    margin-right: 12px;  
}
footer span{
    border: 1px solid black;
    border-radius: 70%;
    text-align: center;
    padding: 0.2rem 0.5rem;
    
}
.triangles{
    position: relative;
}
.blue-triangle{
    height: 50px;
    clip-path: polygon(0 0,0 100%, 100% 0);
    background: linear-gradient(to right,#066caa 0%,#04849d 20%,#03a08d 100%);


}
.green-triangle{
    height: 50px;
    clip-path: polygon(100% 0, 100% 100%, 0% 0%);
    background-color: #03C180;
    width: 100%;
    position: absolute;


}
